@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Rajdhani', sans-serif;
}
::-webkit-scrollbar {
  display: none;
}
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type='number'] {
  -moz-appearance: textfield;
}

/* COMMON STYLE-START */
.main_class {
  min-height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.blue_shade_bg {
  position: absolute;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#first_span_navigation_button {
  font-size: 1.1rem;
  font-weight: 500;
  color: #ffffff;
  display: flex;
  align-items: center;
  gap: 8px;
  white-space: nowrap;
}
#first_span_navigation_button img {
  margin-top: -0.2rem;
}
#second_span_navigation_button {
  font-size: 40px;
  font-weight: 600;
  color: #ffffff;
  white-space: nowrap;
}
.navigation_button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 100px;
  text-decoration: none;
  position: absolute;
  z-index: 10;
}
.navigation_button_with_bigger_width_2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 360px;
  height: 100px;
  text-decoration: none;
  position: absolute;
}
.navigation_button_with_bigger_width_1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 340px;
  height: 100px;
  text-decoration: none;
  position: absolute;
  z-index: 10;
}
.btn_plus {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-weight: 700;
  font-size: 1.7rem;
  border: 1px solid #9a9796;
  height: 45px;
  width: auto;
  cursor: pointer;
  text-decoration: none;
  background: none;
  border-radius: 10px;
  position: absolute;
  transition: 0.15s all ease;
}
.btn_plus img {
  margin: 0rem 0.8rem;
}
.btn_plus span {
  margin-right: 0.8rem;
}
.btn_plus:hover {
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.689);
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.09);
}
/* COMMON STYLE-END */

/* MAIN-MENU STYLING--START */
.main_content {
  min-height: 100vh;
  display: flex;
  align-items: center;
}
.main_content > a {
  font-size: 38px;
  font-weight: 600;
  color: #ffffff;
  position: absolute;
  top: 10%;
  left: 868px;
  outline: none;
}
.button_slider {
  margin-left: 100px;
}
.mySwiper {
  height: 450px;
}
.swiper_slide {
  transition: transform 0.3s ease-in-out;
}
.button_slider_button {
  width: 718px;
  height: 85px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.13);
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(3px);
  transition: transform 0.3s ease-in-out;
}
.swiper_slide a {
  text-decoration: none;
  color: #ffffff9d;
  font-size: 36px;
  font-weight: 700;
}
.swiper-slide-active .button_slider_button {
  transform: scale(0.99);
  background-color: rgba(255, 255, 255, 0.23);
  color: #ffffff;
  font-size: 42px;
  text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.786);
  backdrop-filter: blur(0px);
  transition: transform 0.3s ease-in-out;
}
/* MAIN-MENU STYLING--END */

/*PAST-SIMULATION-START */
.past_simulation_main_content_container {
  width: 85%;
  display: flex;
  flex-direction: column;
  height: 70vh;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(15px);
  border-radius: 21px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  padding: 4rem;
}
.past_simulation_tab_heading_filter_box {
  width: 92%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  border-bottom: 1px solid #dae3eb69;
  padding: 0rem 1rem;
  height: 50px;
  position: fixed;
}
.past_simulation_tab_heading_box {
  display: flex;
  align-items: center;
  width: 200px;
  justify-content: space-between;
}
.past_simulation_tab_filter_box {
  display: flex;
  align-items: center;
  min-width: 150px;
  justify-content: space-between;
  gap: 2rem;
}
.past_simulation_tab_filter {
  text-transform: uppercase;
  font-weight: 700;
  color: #efe6e6;
  font-size: 1.4rem;
}
.past_simulation_tab_table {
  margin: 1rem;
  overflow-y: auto;
  margin-top: 5rem;
  height: 49vh;
}
.past_simulation_individual_simulation_data_container {
  overflow-y: auto;
  height: 53vh;
}
.past_simulation_tab_table_heading_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
.past_simulation_tab_table_name_heading,
.past_simulation_tab_table_heading {
  font-weight: 700;
  color: #efe6e6;
  text-transform: uppercase;
  font-size: 1.3rem;
}
.past_simulation_tab_table_name_heading {
  width: 50%;
}
.past_simulation_tab_table_heading {
  width: 20%;
}
.past_simulation_tab_table_heading_repeat {
  width: 10%;
}
.past_simulation_tab_table_data_container {
  margin: 1rem 0rem;
  border-bottom: 1px solid #dae3eb69;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
.past_simulation_tab_table_name_data {
  display: flex;
  flex-direction: column;
  width: 50%;
}
#past_simulation_tab_table_name_data_first_phrase {
  font-weight: 700;
  color: #ffffff;
  font-size: 1.2rem;
  width: 20%;
  text-transform: uppercase;
  white-space: nowrap;
  cursor: pointer;
}
#past_simulation_individual_simulation_data_heading_first_phrase {
  font-weight: 700;
  color: #ffffff;
  font-size: 1.2rem;
  text-transform: uppercase;
}
#past_simulation_tab_table_name_data_first_phrase:hover {
  text-decoration: underline;
}
#past_simulation_tab_table_name_data_second_phrase,
.past_simulation_tab_table_data {
  font-weight: 600;
  font-size: 1.2rem;
  color: #dae3eb;
  width: 20%;
  white-space: nowrap;
  text-transform: uppercase;
}
.past_simulation_tab_repeat_btn {
  font-weight: 600;
  font-size: 1.4rem;
  color: #ffffff;
  width: 10%;
  text-transform: uppercase;
  text-decoration: underline;
  cursor: pointer;
}
.past_simulation_individual_simulation_data_heading_second_phrase {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-weight: 700;
  color: #ffffff;
  font-size: 1.2rem;
  text-transform: uppercase;
}
.past_simulation_individual_simulation_data_heading_second_phrase > span {
  font-weight: 600;
  font-size: 1.2rem;
  color: #dae3eb;
  text-transform: uppercase;
}
.past_simulation_individual_simulation_data_row {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #fdfdfd;
  margin-top: 0.5rem;
  padding: 1rem 3rem;
  width: 100%;
  gap: 5rem;
}
.past_simulation_individual_simulation_data_row_content_part {
  display: flex;
  flex-direction: column;
  width: 85%;
}
.past_simulation_individual_simulation_data_row_column_heading_main_class {
  display: flex;
  width: 100%;
  margin-bottom: 0.5rem;
}
.team_player_information_in_single_row {
  display: flex;
  width: 100%;
  margin-bottom: 0.3rem;
}
.past_simulation_individual_simulation_data_row_column {
  display: flex;
  flex-direction: column;
}
.past_simulation_individual_simulation_data_row_column_heading,
.past_simulation_individual_simulation_data_row_Squad_code {
  font-weight: 600;
  font-size: 1.2rem;
  color: #dae3eb;
  text-transform: uppercase;
}
.past_simulation_individual_simulation_data_row_Squad_code {
  text-align: center;
}
.past_simulation_individual_simulation_data_row_column_data {
  font-weight: 600;
  color: #ffffff;
  font-size: 1.2rem;
  text-transform: uppercase;
}
#past_simulation_individual_simulation_data_row_column_1 {
  width: 15%;
  padding-top: 2rem;
}
.past_simulation_individual_simulation_data_row_column_2 {
  width: 40%;
}
.simulation_name {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  text-align: left;
}
.past_simulation_individual_simulation_data_row_column_3 {
  width: 15%;
}
.past_simulation_individual_simulation_data_row_column_4 {
  width: 20%;
  text-align: center;
}
.past_simulation_individual_simulation_data_row_column_5 {
  width: 20%;
  text-align: center;
}
.report_video {
  text-decoration: underline;
  cursor: pointer;
}
.back_btn_individual_simulation {
  position: absolute;
  cursor: pointer;
  top: 66.3px;
  left: 40px;
}
/*PAST-SIMULATION-END */

/* SIMULATION-STARTS */
.side_bar {
  height: 100vh;
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: absolute;
  left: 0px;
}
.menu_side_bar {
  margin-top: 15vh;
}
.menu_side_bar_items {
  border-top: 2px solid #dae3eb69;
  height: 70px;
  padding: 10px 20px;
  cursor: pointer;
  white-space: nowrap;
}
.simulation_sections {
  position: absolute;
  width: 75%;
  right: 0px;
}
/* SIMULATION-END */

/* CREAT-TEAM-START */
.create_team_main_container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  border: 1px solid white;
  gap: 2rem;
  overflow: hidden;
}
.create_team_box {
  height: 80vh;
  width: 50%;
  border: 1px solid red;
  overflow: auto;
}
.name_box,
.team_player_name span {
  height: 20px;
  width: 175px;
  border: 2px solid green;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.team_box {
  border: 1px solid pink;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.team_player_box {
  display: flex;
  gap: 1rem;
}
.team_name {
  color: white;
}

/* CREAT-TEAM-END */

/* TUTORIALS-START */
.tutorials_main_content {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  position: absolute;
  top: 10%;
  left: 10%;
}
.tutorial_video_box {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 250px;
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
}
.tutorial_video_title {
  position: absolute;
  bottom: 10px;
  display: flex;
  flex-direction: column;
  width: 360px;
  overflow: hidden;
}
.video_title_watch_span {
  color: #bcbdbe;
  font-weight: 600;
  font-size: 1rem;
}
.video_title {
  color: #ffffff;
  font-weight: 600;
  font-size: 1.5rem;
}
/* TUTORIALS-END */

/* SELECT-STUDENT-INSTRUCTOR-START */
.select_student_instructor_main_content_container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.select_student_instructor_main_content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(15px);
  border-radius: 50px;
  height: 53vh;
  width: 950px;
}
.select_student_instructor__tab_content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.select_student_instructor_tabs_button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 3.5rem;
}
.tabs_container {
  position: absolute;
  height: 30vh;
  top: 8.5rem;
}
.tabs_container_basic_advance {
  position: absolute;
  height: 45vh;
  top: 8.5rem;
}
.select_student_instructor_tab_button {
  font-size: 2rem;
  color: #ffffff;
  cursor: pointer;
  width: 250px;
  border: 1px solid white;
  text-align: center;
}
.select_student_instructor_tab_button:hover {
  text-decoration: underline;
}
.select_student_instructot_tab_input_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 800px;
  height: 70px;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(2px);
  border-radius: 10px;
  padding: 0rem 4rem;
}
.select_student_instructot_tab_input_container input {
  background-color: #00000088;
  width: 450px;
  height: 50px;
  border-radius: 10px;
  position: relative;
  border: none;
  outline: none;
  color: #ffffff;
  font-weight: 600;
  font-size: 1.5rem;
  padding: 0rem 1rem;
}
.select_student_instructot_tab_input_container span {
  font-size: 1.8rem;
  font-weight: 600;
  color: #ffffff;
  white-space: nowrap;
}
/* SELECT-STUDENT-INSTRUCTOR-END */

/* ADD BACTH USER-START */
.add_batch_user_table_main_container {
  width: 100vw;
  display: flex;
  justify-content: center;
  z-index: 1;
}
.add_batch_user_table_content {
  background-color: rgba(255, 255, 255, 0.1);
  margin-top: 15vh;
  box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.137);
  width: 75vw;
  height: 60vh;
  border-radius: 20px;
  overflow: hidden;
  backdrop-filter: blur(15px);
}
.add_batch_user_table_head {
  box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.137);
  background-color: rgba(255, 255, 255, 0.15);
  display: flex;
  padding: 0rem 1rem;
}
.add_batch_user_table_head span {
  color: white;
  font-weight: 800;
  font-size: 2rem;
  height: 8vh;
  width: 15vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.add_batch_user_table_body {
  height: 52.4vh;
  overflow-y: auto;
}
.add_batch_user_table_body_row {
  width: 75vw;
  height: 7vh;
  display: flex;
  border-bottom: 2px solid #dae3eb69;
}
.add_batch_user_table_body_row input {
  width: 15vw;
  height: 7vh;
  text-align: center;
  color: white;
  font-weight: 600;
  font-size: 1.7rem;
  background: none;
  border: none;
  outline: none;
  padding: 0rem 0.5rem;
}
/* ADD BACTH USER-END */

/* SETTINGS-START */
.settings_main_container {
  width: 85%;
  height: 77vh;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(15px);
  border-radius: 21px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4rem;
  margin: auto;
  gap: 4rem;
}
.computer_modules_main_container {
  position: relative;
  height: 70vh;
  width: 60%;
}
.computer_modules_section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2rem;
  margin-top: 5rem;
}
.connected_sys_heading {
  position: absolute;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 2.5rem;
}
.computer_modules_btn_main_container {
  position: absolute;
  bottom: 0px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  min-width: 100%;
}
.computer_module_group_of_3 {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.computer_module_btn {
  position: relative;
}
.computer_module {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.computer_module img {
  height: 90px;
}
.computer_module_name {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.3rem;
}
.computer_module_name span {
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 1.1rem;
  text-overflow: ellipsis;
  width: 80px;
  white-space: nowrap;
  overflow: hidden;
}
.computer_module_name img {
  height: 18px;
}
.fade-in {
  animation: fadeIn 0.5s ease-out forwards;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.fade-out {
  animation: fadeOutAnimation 0.5s forwards;
}
@keyframes fadeOutAnimation {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
/* SETTINGS-END */

/* TEST-MODE-START */
.test_mode_main_content_container {
  width: 40%;
  display: flex;
  flex-direction: column;
  height: 70vh;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 21px;
  padding: 4rem;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.274);
  position: relative;
}
.test_mode_heading {
  position: absolute;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 2.5rem;
  top: 40px;
}
.test_mode_tab_table {
  margin: 1rem;
  overflow-y: auto;
  height: 50vh;
}
.test_mode_tab_heading__box {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 1rem;
  border-bottom: 1px solid #fdfdfd;
  padding: 0rem 1rem;
  height: 50px;
  gap: 3rem;
  margin-top: 2.5rem;
}
.test_mode_tab_table_heading_container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
}
.test_mode_tab_table_name_heading {
  width: 35%;
}
.test_mode_tab_table_name_heading {
  font-weight: 700;
  color: #dae3eb;
  text-transform: uppercase;
  font-size: 1.3rem;
}
.test_mode_tab_table_data_container {
  margin: 2rem 0rem;
  border-bottom: 1px solid #fdfdfd;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
}
.test_mode_tab_table_data {
  font-weight: 600;
  font-size: 1.2rem;
  white-space: nowrap;
  text-transform: uppercase;
  width: 35%;
  color: #ffffff;
}
/* TEST-MODE-END */

/* CUSTOM-MODAL-START */
.modal_backdrop {
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
}
.modal_content {
  display: flex;
  align-items: center;
  justify-content: center;
  background: black;
  border-radius: 10px;
  width: 800px;
  height: 500px;
}
.iFrame_video_player {
  border-radius: 10px;
  width: 800px;
  height: 500px;
}
/* CUSTOM-MODAL-END */

/* FOOTER-START */
.footer {
  position: absolute;
  bottom: 0px;
  display: flex;
  justify-content: space-between;
  font-size: 1.8rem;
  font-weight: 600;
  color: #ffffff;
  min-width: 100vw;
  padding: 0rem 2rem;
  border-top: 1px solid #dae3eb69;
  height: 80px;
}
.footer a {
  padding-top: 1.3rem;
  color: #ffffff;
  text-decoration: none;
}
.footer_first_box {
  width: 25%;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
.footer_second_box {
  width: 31%;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
#footer_second_box_second_span {
  width: 300px;
  padding: 1rem 2rem;
  border-left: 1px solid #dae3eb69;
}
#footer_second_box_second_span a {
  color: #8b8f90;
}
.underline:hover {
  text-decoration: underline;
}
/* FOOTER-END */
