@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Rajdhani', sans-serif;
}
::-webkit-scrollbar {
  display: none;
}
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type='number'] {
  -moz-appearance: textfield;
}
#first_span_navigation_button {
  font-size: 1.1rem;
  font-weight: 500;
  color: #ffffff;
  display: flex;
  align-items: center;
  gap: 8px;
  white-space: nowrap;
}
#first_span_navigation_button img {
  margin-top: -0.2rem;
}
#second_span_navigation_button {
  font-size: 40px;
  font-weight: 600;
  color: #ffffff;
  white-space: nowrap;
}
.navigation_button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 100px;
  text-decoration: none;
}
.navigation_button_with_bigger_width_2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 360px;
  height: 100px;
  text-decoration: none;
  position: absolute;
}

/* MAIN-MENU STYLING--START */
.main_class {
  min-height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.main_content {
  min-height: 100vh;
  display: flex;
  align-items: center;
}
.main_content > a {
  font-size: 38px;
  font-weight: 600;
  color: #ffffff;
  position: absolute;
  top: 10%;
  left: 868px;
  outline: none;
}
.button_slider {
  margin-left: 100px;
}
.mySwiper {
  height: 450px;
}
.swiper_slide {
  transition: transform 0.3s ease-in-out;
}
.button_slider_button {
  width: 718px;
  height: 85px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.13);
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(3px);
  transition: transform 0.3s ease-in-out;
}
.swiper_slide a {
  text-decoration: none;
  color: #ffffff9d;
  font-size: 36px;
  font-weight: 700;
}
.swiper-slide-active .button_slider_button {
  transform: scale(0.99);
  background-color: rgba(255, 255, 255, 0.23);
  color: #ffffff;
  font-size: 42px;
  backdrop-filter: blur(0px);
  transition: transform 0.3s ease-in-out;
}
/* MAIN-MENU STYLING--END */

/*PAST-SIMULATION-START */
.past_simulation_main_content_container {
  width: 85%;
  display: flex;
  flex-direction: column;
  height: 70vh;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(15px);
  border-radius: 21px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  padding: 4rem;
}
.past_simulation_tab_heading_filter_box {
  width: 92%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  border-bottom: 1px solid #dae3eb69;
  padding: 0rem 1rem;
  height: 50px;
  position: fixed;
}
.past_simulation_tab_heading_box {
  display: flex;
  align-items: center;
  width: 200px;
  justify-content: space-between;
}
.past_simulation_tab_filter_box {
  display: flex;
  align-items: center;
  min-width: 150px;
  justify-content: space-between;
  gap: 2rem;
}
.past_simulation_tab_filter {
  text-transform: uppercase;
  font-weight: 600;
  color: #dae3eb;
  font-size: 1.4rem;
}
.past_simulation_tab_table {
  margin: 1rem;
  overflow-y: auto;
  margin-top: 5rem;
}
.past_simulation_tab_table_heading_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
.past_simulation_tab_table_name_heading,
.past_simulation_tab_table_heading {
  font-weight: 600;
  color: #dae3eb;
  text-transform: uppercase;
  font-size: 1.3rem;
}
.past_simulation_tab_table_name_heading {
  width: 50%;
}
.past_simulation_tab_table_heading {
  width: 25%;
}
.past_simulation_tab_table_data_container {
  margin: 1rem 0rem;
  border-bottom: 1px solid #dae3eb69;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
.past_simulation_tab_table_name_data {
  display: flex;
  flex-direction: column;
  width: 50%;
}
#past_simulation_tab_table_name_data_first_phrase {
  font-weight: 600;
  color: #ffffff;
  font-size: 1.2rem;
  width: 25%;
  text-transform: uppercase;
  white-space: nowrap;
}
#past_simulation_tab_table_name_data_second_phrase,
.past_simulation_tab_table_data {
  font-weight: 600;
  font-size: 1.2rem;
  color: #dae3eb;
  width: 25%;
  white-space: nowrap;
  text-transform: uppercase;
}
/*PAST-SIMULATION-END */

/* TUTORIALS-START */
.tutorials_main_content {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  position: absolute;
  top: 10%;
  left: 10%;
}
.tutorial_video_box {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 250px;
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
}
.tutorial_video_title {
  position: absolute;
  bottom: 10px;
  display: flex;
  flex-direction: column;
  width: 360px;
  overflow: hidden;
}
.video_title_watch_span {
  color: #bcbdbe;
  font-weight: 600;
  font-size: 1rem;
}
.video_title {
  color: #ffffff;
  font-weight: 600;
  font-size: 1.5rem;
}
/* TUTORIALS-END */

/* CUSTOM-MODAL-START */
.modal_backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}
.modal_content {
  display: flex;
  align-items: center;
  justify-content: center;
  background: black;
  border-radius: 10px;
  width: 800px;
  height: 500px;
}
.iFrame_video_player {
  border-radius: 10px;
  width: 800px;
  height: 500px;
}
/* CUSTOM-MODAL-END */

/* FOOTER-START */
.footer {
  position: absolute;
  bottom: 0px;
  display: flex;
  justify-content: space-between;
  font-size: 1.8rem;
  font-weight: 600;
  color: #ffffff;
  min-width: 100vw;
  padding: 0rem 2rem;
  border-top: 1px solid #dae3eb69;
  height: 80px;
}
.footer a {
  padding-top: 1.3rem;
  color: #ffffff;
  text-decoration: none;
}
.footer_first_box {
  width: 25%;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
.footer_second_box {
  width: 31%;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
#footer_second_box_second_span {
  width: 300px;
  padding: 1rem 2rem;
  border-left: 1px solid #dae3eb69;
}
#footer_second_box_second_span a {
  color: #8b8f90;
}
.underline:hover {
  text-decoration: underline;
}
/* FOOTER-END */
